# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# env files
.env
.env*.local

# vercel
.vercel

# debug logs
npm-debug.log*

# OS
.DS_Store
tsconfig.tsbuildinfo
